# Config Files/Folders
sftp-config.json
.idea
.vscode

# OS Files
.DS_Store

# Vendor Files

composer.lock

# Testing files
application/controllers/test.php
application/views/test

# Payment Info files
application/configuration/app.ini
application/configuration/cache.ini
application/configuration/session.ini
application/configuration/database.ini

# Log files
logs/*

# Min files
public/assets/js/*.min.js
public/assets/css/*.min.css

public/assets/uploads/csv/*
public/assets/uploads/files/*
public/assets/uploads/videos/*
