# Config Files/Folders
sftp-config.json
breadcrumbs.json
.idea
.vscode

# OS Files
.DS_Store

# Vendor Files

composer.lock

# Testing files
application/controllers/test.php
application/views/test

# Payment Info files
application/configuration/*


*.ini
