<div class="col-sm-12">
    <div class="col-sm-12">
        <div class="card-body">
        </div>
    </div>
    <div class="card">
        <div class="card-body bg-happy-fisher">
            <h5 class="card-title">Dashboard</h5>
        </div>
    </div><br>  
    <div>
        <div class="col-md-6 col-xl-4">
            <div class="card mb-3 widget-content bg-midnight-bloom">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Total Assets</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>{echo  count($Assets)}</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card mb-3 widget-content bg-night-fade">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Total Employees</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>{echo count($Employees)}</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card mb-3 widget-content bg-grow-early">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Total Assigned</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>{echo count($Assigneds)}</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card mb-3 widget-content bg-malibu-beach">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Total Vendors</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>{echo count($Venders)}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   