<div class="col-sm-12">
    <div class="col-sm-12">
        <div class="card-body">
        </div>
    </div>
    <div class="card">
        <div class="card-body bg-happy-fisher">
            <h5 class="card-title">Dashboard</h5>
        </div>
    </div><br>  
    <div>
        <div class="col-md-6 col-xl-4">
            <div class="card mb-3 widget-content bg-midnight-bloom">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Total Assets</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>{echo  count($Assets)}</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card mb-3 widget-content bg-night-fade">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Total Employees</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>{echo count($Employees)}</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card mb-3 widget-content bg-grow-early">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Total Assigned</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>{echo count($Assigneds)}</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card mb-3 widget-content bg-malibu-beach">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Total Vendors</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>{echo count($Venders)}</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="flex">
              <div class="pie-chart" style="--chartsize: 230px" data-values="[4,5,2]"></div>
            </div>
          </div>
    </div>
</div>

<style>
    html {
  background-color: #f8f8f8;
  box-shadow: inset 0px 0px 10rem rgba(0, 0, 0, 0.25);
  height: 100%;
  width: 100%;
  font-family: "Open Sans", "Roboto", sans-serif;
    }

  .wrapper {
    max-width: 700px;
    margin: 5em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    text-align: center;
    font-size: 48px;
    color: #fff;
    text-shadow: -2px 0px 3px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.15);
    font-style: italic;
    font-weight: 200;
  }
  .flex {
    font-size: 16px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
    .copy {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    padding: 20px 50px;
    text-align: right;
    color: #000;
    font-size: 12px;
    font-style: italic;
    }
    .a {
      color: #25f;
      text-decoration: none;
    }



    .pie-chart {
    border-radius: 50%;
    height: var(--chartsize, 200px);
    width: var(--chartsize, 200px);
    background: transparent;
    box-shadow:  inset 0px 0px 1px calc(var(--chartsize, 200px) / 30) rgba(250, 250, 220, 0.3),
        0px 2px 8px -1px rgba(0, 0, 0, 0.3);

    }
   
</style>

<script>
    function drawPieChart(piechart) {
    if (!piechart.dataset.values) return;

    let values = JSON.parse(piechart.dataset.values);
    let colors = ["#0094C6", "#EF476F", "#FFD166", "#06D6A0", "#FF6B35"];
    let acum = 0,
    count = 0;
   
     
    }

document.querySelectorAll(".pie-chart").forEach(piechart => drawPieChart(piechart));

    
</script>