<div class="topbar">
	<div class="topbar-left bg-info">
		<div class="text-center bg-info"><a href="/" class="logo"><i class="fa fa-superpowers"></i> <span>Asset Managment</span></a></div>
	</div>
    <nav class="navbar-custom bg-info">
    	<ul class="list-inline float-right mb-0 ">

			<li class="list-inline-item dropdown notification-list bg-info">
				<a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
					<img src="{echo Shared\Markup::get_gravatar($account->email, 30)}"  class="rounded-circle"> <span class="hide-phone"></span>
				</a>
				<div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">
					<a href="/auth/logout.html" class="dropdown-item notify-item">
						<i class="fa fa-logout"></i> <span>Logout</span>
					</a>
				</div>
			</li>
		</ul>
		<ul class="list-inline menu-left mb-0">
			<li class="float-left">
				<button class="button-menu-mobile open-left waves-light waves-effect bg-info"><i class="fa fa-bars"></i></button>
			</li>
		</ul>

	</nav>
</div>

<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
	<div class="sidebar-inner slimscrollleft">
		<!--- Divider -->
		<div id="sidebar-menu">
			<ul>
				<li><a href="/admin/index.html" class="waves-effect waves-primary"><i class="fa fa-dashboard"></i><span> Dashboard </span></a></li>
				<li class="has_sub">
					<a href="javascript:void(0);" class="waves-effect waves-primary"><i class="fa fa-address-card"></i><span> Assets </span> <span class="menu-arrow"></span> </a>
					<ul class="list-unstyled">
						<li><a href="/asset/manage">Manage</a></li>
						<li><a href="/asset/add">Add</a></li>
					</ul>
				</li>
				<li class="has_sub">
					<a href="javascript:void(0);" class="waves-effect waves-primary"><i class="fa fa-address-book"></i><span> Employee </span> <span class="menu-arrow"></span> </a>
					<ul class="list-unstyled">
						<li><a href="/employee/manage">Manage</a></li>
						<li><a href="/employee/add">Add</a></li>
					</ul>
				</li>
				<li class="has_sub">
					<a href="javascript:void(0);" class="waves-effect waves-primary"><i class="fa fa-book"></i><span> Assigned </span> <span class="menu-arrow"></span> </a>
					<ul class="list-unstyled">
						<li><a href="/assigned/manage">Manage</a></li>
						<li><a href="/assigned/add">Add</a></li>
					</ul>
				</li>
				<li class="has_sub">
					<a href="javascript:void(0);" class="waves-effect waves-primary"><i class="fa fa-users"></i><span> Vender </span> <span class="menu-arrow"></span> </a>
					<ul class="list-unstyled">
						<li><a href="/vender/manage">Manage</a></li>
						<li><a href="/vender/add">Add</a></li>
					</ul>
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- Left Sidebar End -->
