<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-12">
						<div class="page-title-box">
							<h4 class="page-title">Employee Manage</h4>
							<ol class="breadcrumb float-right">
								<li class="breadcrumb-item"><a href="/">Dashboard</a></li>
								<li class="breadcrumb-item active">Manage Employees</li>
							</ol>
							<div class="clearfix"></div>
						</div>
						{echo Shared\Markup::message($message ?? null)}
					</div>
				</div>
				<div class="card"><br>
					<div class="text-start px-md-2">
					<a class="btn btn-outline-primary"  href="/employee/add" padding="10px"><i class="fa fa-plus"></i> Add new </a>
					</div><br>
					{if $employees}
					<div class="table-responsive">
						<table class="table table-hover" cellspacing="10" cellpadding="10">
							<thead>
								<tr>
									<th>Employee Id</th>
									<th>Name</th>
									<th>Email</th>
									<th>Phone</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								{foreach $obj in $employees}
								<tr data-id='{echo $obj->_id}'>
									<td>{echo $obj->emp_id}</td>
									<td>{echo $obj->name}</td>
									<td>{echo $obj->email}</td>
									<td>{echo $obj->phone}</td>
									<td> <a data-href="/employee/delete/{echo $obj->_id}" class="btn btn-xs btn-outline-danger delete"><i class="fa fa-trash"></i> Delete</a>
										<a class="btn btn-outline-primary"  href="/employee/edit/{echo $obj->_id}" padding="10px"><i class="fa fa-pencil-square-o"></i>Edit</a></td>
								</tr>
								{/foreach}
							</tbody>
						</table>
					</div>
					<nav aria-label="Page navigation example">
						<ul class="pagination justify-content-center">
							{if ($page != 1)}
							<li class="page-item"><a class="page-link" href="{echo Shared\Markup::pagination($page - 1)}">Previous</a></li>
							{/if}
							<li class="page-item"><a class="page-link" href="{echo Shared\Markup::pagination($page + 1)}">Load More</a></li>
						</ul>
					</nav>
					{/if} {else}
					<div class="card-body">
						<p class="card-text">No Employees Found</p>
					</div>
					{/else}
					
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
</script>