<div class="app-main__outer">
	<div class="app-main__inner">
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12">
						<div class="col-sm-12">
							<div class="card-body">
							</div>
						</div>
						<div class="card">
							<div class="card-body bg-happy-fisher">
								<h1 class="page-title">Vendor Add new</h1>
								<ol class="breadcrumb float-right bg-happy-fisher">
									<li class="breadcrumb-item"><a href="/" class="text-white">Dashboard</a></li>
									<li class="breadcrumb-item"><a href="/vendor/manage" class="text-white">Vendor Manage</a></li>
									<li class="breadcrumb-item active text-white">Vendor Add New</li>
								</ol>
							</div>
						</div><br>
						<div class="col-sm-12">
						{echo Shared\Markup::message($message ?? null)}
						</div>
						<form method="post" action="" enctype="multipart/form-data">
							<div class="card card-body m-b-20">
								<div class="form-group row">
									<label class="col-sm-3 col-form-label">Name</label>
									<div class="col-sm-9 col-md-6">
										<input type="text" name="data[name]" class="form-control" required="" placeholder="Enter name">
									</div>
								</div>

								<div class="form-group row">
									<label class="col-sm-3 col-form-label">Company Name</label>
									<div class="col-sm-9 col-md-6">
										<input type="text" name="data[company_name]" class="form-control" required="" placeholder="Enter Company name">
									</div>
								</div>

								<div class="form-group row">
									<label class="col-sm-3 col-form-label">Email</label>
									<div class="col-sm-9 col-md-6">
										<input type="email" class="form-control" required="" name="data[email]" placeholder="Enter Email name">
									</div>
								</div>
					
								<div class="form-group row">
									<label class="col-sm-3 col-form-label">Phone</label>
									<div class="col-sm-9 col-md-6">
										<input type="tel" class="form-control" name="data[phone]" required="" placeholder="Enter Phone Number">
										<span class="help-block text-danger">{echo Shared\Markup::errors($errors, "phone")}</span>
									</div>
								</div>

								<div class="form-group row">
									<label class="col-sm-3 col-form-label">Address</label>
									<div class="col-sm-9 col-md-6">
										<input type="text" name="data[address]" class="form-control" required="" placeholder="Enter address">
									</div>
								</div>

								<div class="form-group row">
									<label class="col-sm-3 col-form-label">state</label>
									<div class="col-sm-9 col-md-6">
										<input type="text" name="data[state]" class="form-control" required="" placeholder="Enter state">
									</div>
								</div>

								<div class="form-group row">
									<label class="col-sm-3 col-form-label">Country</label>
									<div class="col-sm-9 col-md-6">
										<input type="text" name="data[country]" class="form-control" required="" placeholder="Enter country">
									</div>
								</div>

								<div class="form-group">
									<button type="submit" class="btn btn-rounded btn-primary"><i class="fa fa-check"></i> Save</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>