<div class="row justify-content-center">

    <div class="">
        {echo Shared\Markup::message($message ?? null)}
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-5" style=" display: flex;
            flex-wrap: wrap;
            align-content: center;">
                <!-- Nested Row within Card Body -->
                <div >
                   <div >
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Asset Management Application</h1>
                            </div>
                            <form class="user" action="login" method="post">
                                <div class="form-group">
									<input type="text" id="username" class="form-control form-control-user" required="" name="email" placeholder="Type your email">
                                </div>
                                <div class="form-group">
									<input type="password" id="password" class="form-control form-control-user" name="password" required="" placeholder="Type your password">
                                </div>
                                <button class="btn btn-primary btn-user btn-block" type="submit">Login</button>
                                <hr>
								<input type="hidden" name="action" value="login">
								<input type="hidden" name="token" value="{echo $__token}">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
