<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css" integrity="sha512-RvQxwf+3zJuNwl4e0sZjQeX7kUa3o82bDETpgVCH2RiwYSZVDdFJ7N/woNigN/ldyOOoKw8584jM4plQdt8bhA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


  <div class="fullscreen-container">
	<div class="login-container">
		<div class="col-lg-12 login-key center">
			<i class="fa fa-book" aria-hidden="true"></i>
		</div><br>
		<h2 class="header">ASSET MANAGEMENT</h2>
		<form class="form" action="" method="post">
		{if isset($message)}
			{echo Shared\Markup::message($message ?? null)}
		{/if}
		<div class="input-group">
		  <label for="email">Email</label>
		  <input type="text" id="username"  required="" name="email" placeholder="Type your email">
		</div>
		<div class="input-group">
		  <label for="password">Password</label>
		  <input type="password" id="password" name="password" required="" placeholder="Type your password">
		</div>
		<button class="button">Login</button>
		<input type="hidden" name="action" value="login">
		<input type="hidden" name="token" value="{echo $__token}">
	  </form>
	</div>
  </div>


<style>

	*,
	*::before,
	*::after {
	box-sizing: border-box;
	padding: 0;
	}

	body {
	margin: 0;
	font-family: "Open Sans", sans-serif;
	}

	.fullscreen-container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	width: 100vw;
	background: linear-gradient(53deg, rgba(25,191,203,1) 6%, rgba(188,81,218,1) 61%);

	}

	.login-container {
	width: 50%;
	max-width: 400px;
	min-width: 300px;
	padding: 50px 25px 20px;
	background: white;
	border-radius: 10px;
	}

	.header {
	text-align: center;
	}

	.form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 50px;
	}

	.input-group {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-size: .8rem;
	}

	.input-group input {
	font-size: .9rem;
	padding: 10px;
	border: none;
	outline: none;
	border-bottom: 2px solid hsl(0, 0%, 83%);
	}

	.input-group input:focus {
	box-shadow: 0 0 0 1px hsl(178, 100%, 50%);
	border-bottom: 2px solid hsl(0, 0%, 83%, 0%);
	}

	.button {
	margin: 20px 0;
	padding: 10px 0;
	border-radius: 25px;
	border: none;
	outline: none;
	cursor: pointer;
	background: linear-gradient(53deg, rgba(25,191,203,1) 6%, rgba(188,81,218,1) 73%);
	color: white;
	font-size: 1rem;
	}

	.button:focus {
	box-shadow: 0 0 0 1px hsl(178, 100%, 50%);
	}

	.signup-header {
	text-align: center;
	font-weight: 200;
	font-size: .9rem;
	margin-top: 75px;
	}

	.social-icons {
	margin-top: 20px;
	}

	.social-list {
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 10px;
	}

	.social-links {
	text-decoration: none;
	}

	.fa-brands {
	font-size: 1.75rem;
	}

	.fa-facebook {
	border-radius: 50%;
	background: white;
	color: #435892;
	}

	.login-key {
		text-align: center;
		height: 100px;
		font-size: 80px;
		line-height: 100px;
		background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

</style>
